/* Imports */
@import "_nullstyle";
/*
    (SASS and SCSS) sranq nuynn uxxaki SASS aranc {}-i e grvum isk SCSS-@ {}-ov
*/
/*
    Ete stex span toxum enq 'bolck'-i mej nshanakuma block-i sax 'span'-er@ ete qcenq 'block__text'-i mej klini nra meji sax spaner@ 
*/
/*
    SCSS-i arandznahatkutyunnerica naev 'import' anel@,
    orinak 'Zeroing' grenq urish file-um 'import' anenq stex
*/
// '>'-sa child class-ner.
// '~'-sa nuyn parent class-i mej en ev @truma menak tvyal class-ic heto iran havasar uroveni vra class-in
// '+'-iranic heto gtnvox sax elementnerin

// '&'-mer parent class-na

// '$'-popoxakan enq sarqum
$fz: 80px;
$color_1: #000;
$color_2: #fff;

// '%'- shablon enq sarqum
%tplborder {
  border-bottom: 5px dashed red;
}
/*
    Shablon@ class-in kpcnelu hamar '@extend'-enq anum tvyal class-i mej,
    aysinqn na mi class-e vor@ stexcuma skzbnakan styler heto ete mekum chenq
    uzum poxum enq dra mej.

    Karox enq naev aranc '%' sarqel uxxaki .className u grel
*/

.block {
  padding: 30px;
  line-height: 60px;
  .bolck__text {
    font-size: $fz;
    span {
      color: green;
    }
  }
}

.link {
  color: $color_1;
  text-decoration: underline;
  font-size: $fz;

  .block & {
    font-size: 100px;
  }

  &:hover {
    color: green;
  }
  &::after {
  }
  &:focus {
  }
  &::before {
    content: "";
  }
  &::after {
    content: "";
  }

  @extend %tplborder;
}

.link-2 {
  font-size: 80px;
  @extend %tplborder;
}
